@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Roboto';
		src: url('/fonts/Roboto-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
	}
}

@layer components {
	.btn-control {
		@apply w-[40px] h-[40px] rounded-full bg-teal-800 text-white font-bold text-[1.3rem] flex items-center justify-center hover:bg-teal-900 transition-all duration-150 ease-in-out;
	}
}